{# src/AppBundle/form/BootstrapInput.html.twig #}
<div class="input-group">
    <span class="input-group-addon" for="{{ id }}">{{ title }}</span>
    <input
        id="{{ id }}"
        name="{{ full_name }}"
        value="{{ value }}"
        type="text" class="form-control">
</div>
{% if errors is not empty %}
    <div class="alert alert-danger" role="alert">
        <h5>{{ form_errors(errors_form) }}</h5>
    </div>          
{% endif %} 
