    <td class="text-center">
        <a href="{{ url(absoluteurl,{'item': id}) }}">
          <button type="button" class="btn btn-xs btn-warning">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </a>
    </td>
