{# src/AppBundle/Resources/views/search/search-results.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}

    {% if articles is not empty %}

        {% include 'AppBundle:article:list.html.twig' with {'articles': articles} only %}

    {% else %}
        <br/>
{% include 'AppBundle:form:ThereIsNoItems.html.twig' with {'nameEntity': 'entity.articles.plural'|trans} only %}
    {% endif %}

{% endblock %}

