{# src/AppBundle/Resources/views/comment/manage.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}

    {% include 'AppBundle:form:Header.html.twig' with {'action': 3, 'nameEntity': 'entity.comment.plural'|trans } only %}

    {% if items is not empty %}

        {% for item in items %}
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="list-group">
                      <a class="list-group-item">
                        <h4 class="list-group-item-heading">{{ item.relatedArticle.articleTitle }}</h4>
                        <h3 class="list-group-item-heading">{{ item.commentAuthor }} <small>{{ item.commentAuthorEmail }}</small></h3>
                        <br/>
                        <p class="list-group-item-text">{{ item.commentContent|nl2br }}</p>
                        <br/>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="color:blue"></span> {{ item.commentCreationDate|date("d/m/Y") }}
                      </a>
                    </div>

                    <div class="text-center">

                        <a href="{{ path('delete_comment', {'comment':item.id} ) }}" style="text-decoration: none">
                            <button id="acceptComment" type="button" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
                        </a>
                        <a href="{{ path('accept_comment', {'comment':item.id} ) }}" style="text-decoration: none">
                            <button id="deleteComment" type="button" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
                        </a>
                    </div>

                </div>
            </div>

            <br/>


        {% endfor %}


    {% else %}
        {% include 'AppBundle:form:ThereIsNoItems.html.twig' with {'nameEntity': 'entity.comment.plural'|trans} only %}     
    {% endif %}

{% endblock %}
