{# src/AppBundle/Resources/views/tag/show.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}

    {% if tag.articles is not empty %}

        {% include 'AppBundle:article:list.html.twig' with {'articles': tag.articles} only %}

    {% else %}
        <br/>
        {% include 'AppBundle:form:ThereIsNoItems.html.twig' with {'nameEntity': 'entity.articles.plural'|trans} only %}        
    {% endif %}

{% endblock %}

