{# src/AppBundle/Resources/views/homepage/homepage.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}

    {% if articles is not empty %}

        {% include 'AppBundle:article:list.html.twig' with {'articles': articles} only %}

        <a href="{{ path('readmore', {'page': 2, 'maxResults': 5}) }}" style="text-decoration: none">
            <button id="readmore" type="button" class="center-block btn btn-lg btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ 'readmore'|trans }}</button>
        </a>

    {% endif %}

{% endblock %}
